# Green API parameters
GREENAPI_ENDPOINT_URL='https://api.green-api.com'
MP3_TEST_URL = 'https://translate.google.com/translate_tts?ie=UTF-8&q=%D7%91%D7%A6%D7%A2%20%D7%94%D7%9E%D7%A8%D7%AA%20%D7%98%D7%A7%D7%A1%D7%98%20%D7%9C%D7%93%D7%99%D7%91%D7%95%D7%A8&tl=he&total=1&idx=0&textlen=20&client=tw-ob&prev=input&ttsspeed=1'
GREENAPI_ID_INSTANCE='00000000000000000000000000000'
GREENAPI_ACCESS_TOKEN='00000000000000000000000000000'
TEST_NUMBER='XXXXXX@c.us'